<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HCLTech Registration Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <img src="{% static 'images/hcl_logo.png' %}" alt="HCLTech Logo" class="logo">
        </header>
        <div>
            {% block content %}
            <h1>Get started!</h1>
            <form method="POST" action="{% url 'register' %}">
                <button type="submit">Register</button>
                {% csrf_token %}
                <div class="form-group">
                    {{ form.as_p }}
                </div>
               
            </form>
            
            {% endblock %}
        </div>
    </div>
</body>
</html>
