
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django Project{% endblock %}</title>
    <link rel="stylesheet" href="static\css\styles.css">
</head>
<body>
    <header>
        <img src="{% static 'images/hcl_logo.png' %}" alt="HCL Tech Logo" style="width: 100px;">
        <h1>Welcome to Skills Portfolio</h1>
    </header>
  
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>
